@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body, html{
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #FFFFFF;
	font-size: 20px;
	height: 100vh;
	min-height: 100vh;
	background-color: #d8e2dc;
}

h1{
	text-transform: uppercase;
}
h1 strong{
	font-weight: 900;
}
h2{
	text-transform: uppercase;
	line-height: 20px;
	margin:  0;
}
h3{
font-size: 22px;
font-weight: 900;
}
h4{
	text-transform: uppercase;
}
h5{
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

p{
	font-family: 'Roboto', sans-serif;
}
p.intro{
	font-size: 24px;
	margin: 12px 0 0;
	line-height: 30px;
	font-family: 'Raleway', sans-serif;
}
a, a:link{ 
	color: #FFFFFF;
	text-decoration: none;
}

a:hover{
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: #457B9D 0.1em 0.1em;
}

a:active{
	text-decoration: none;
	color: #DCDCDC;
	text-shadow: #457B9D 0.05em 0.05em;
}

a:visited{
	text-decoration: none;
	color: #FFFFFF;
}

/*==========================outer container========================*/
#outer-container{
	display: block;
	width: 100%;
	height: 100vh;
	background: url(../img/back1.jpeg);
	background-size: cover;
	background-position: left center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/*==============================side bar=========================*/
#left-sidebar{
	display: block;
	color: #FFFFFF;
}

#main-menu{
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	line-height: 1;
	width: 100%;
	text-align: center;
}

#main-menu li{
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-height: 35px;
}

#main-content{
	display: block;
	position: relative;
	margin: 0 5%;
	overflow: visible;
	min-height: 1px;

}

/*==========================inner-container========================*/
.inner-container{
	display: block;
	/*width: 100%;*/
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
}

/*===================================home==========================*/

#tf-home{
	height: 100vh;
	min-height: 100vh;
}


/*=================================footer==========================*/
#menu-footer{
	display: block;
	background: rgba(0,0,0,0.29);
	padding: 15px 5px;
	text-align: center;
	font-size: 1em;
} 

.social-icon{
	display: block;
	list-style: none;
	margin: 8px 0;
	padding: 0;
	text-align: center;
}

#menu-footer .social-icon li{
	display: inline-block;
	padding: 0 2px;

}

.copyright{
	font-size: 14px;
}

/*==============================desktop screen=========================*/
@media (min-width: 768px){

	/*==============================side bar=========================*/
	#left-sidebar{
		height: 100%;
		position: fixed;
		top: 0;
		left: 3%;
		width: 13%;
		max-width: 150px;
		min-width: 150px;
		background: linear-gradient(to bottom, rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.29)), color-stop(78%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
	    background: -webkit-linear-gradient(top, rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);

	}

	#main-menu{
		display: block;
		list-style: none;
		margin: 8px 0;
		background: none;
	}

	#menu-footer{
		position: fixed;
		bottom: 10px;
		left: 3%;
		width: 13%;
		max-width: 150px;
		min-width: 150px;
		background: none;
		z-index: 0;
		padding: 0px;
	}

	#main-content{
		height: 100%;
	}

	/*==========================inner-container========================*/

	.inner-container{
		position: absolute;
		right: 0;
		margin: 0 3% 0 22%;
		height: 100vh;
	}

	/*===================================home==========================*/

	#tf-home{
		height: 100vh;
		min-height: 100vh;
	}

}



